$primarycolor :white    ;
$secondarycolor :#4b6bfb;
$primaryTextColor: black ;
$secondaryTextColor: white;
$ratingColor:#ffd700; 

*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
